<!DOCTYPE html>
<html lang='en'>
<head>
	<title>{% block title %}My Base Template{% endblock %}</title>

	<style typ='text/css'>
		body{
			text-align: center;
		}

		#page {
			width: 969px;
			text-align: left;
			margin: 10px auto 20px auto;
			background-color: #0c0c0c;
		}

		#sidebar {
			float: left;
			width: 200px;
			border: 1px solid #000;
		}

		#content {
			float: left;
			width: 600px;
			border: 1px solid #f00;
			padding: 10px;
		}
	</style>
	
</head>

	<body>
		<div id='page'>

			<div id='sidebar'>
				{% block sidebar %}
				<ul>
					<li><a href="www.google.com">Google</a></li>
				</ul>
				{% endblock %}
			</div>

			<div id ='content'>
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</head>
